// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body{
    color: #213747;
}
body.theme-default{
    color: #213747;
}
.df{
    display: flex;
}
.ai-c{
    align-items: center;
}
.jc-fe{
    justify-content: flex-end;
}
.jc-b{
    justify-content: space-between;
}
.full-width{
    width: 100%;
}
.mat-step-label{
    font-family: 'ABeeZee', sans-serif;
}
.theme-options-button{
    display: none !important;
}
.c-p{
    cursor: pointer;
}