<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div class="wrapper">

      <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
  
        <div class="main-title">Login</div>
  
        <form name="loginForm" [formGroup]="loginForm" novalidate>
  
          <mat-form-field>
            <input matInput [(ngModel)]="data.email" placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="!loginForm.get('email').hasError('required') && loginForm.get('email').hasError('email')">Please enter a valid email address</mat-error>
          </mat-form-field>
  
          <mat-form-field>
            <input [(ngModel)]="data.password" matInput type="password" placeholder="Password" formControlName="password">
            <mat-error>
              Password is required
            </mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="center center" class="register-link" (click)="goToRegister()">
            New User? Sign Up
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <!-- [disabled]="loginForm.invalid" -->
            <!-- [routerLink]="'/pages/auth/register'" -->
            <button [ngClass]="{'inactive-style': loginForm.invalid}" (click)="singIn()" mat-raised-button color="accent" class="submit-button"
              aria-label="LOG IN">
              LOGIN
            </button>
          </div>
  
        </form>
  
      </div>

    </div>

  </div>

</div>